<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加留言</title>
</head>
<body>
    <center>
        <table>
            <form action="/insert" method="post">
                <tr>
                    <th>昵称:</th>
                    <th><input type="text" name="nikename"></th>
                </tr>
                <tr>
                    <th>留言信息:</th>
                    <th>
                        <textarea name="info" id="" cols="30" rows="10">请留下信息
                        </textarea>
                    </th>
                </tr>
                <tr>
                    <th>
                        <button>添加</button>
                    </th>
                </tr>
            </form>
        </table>
    </center>
</body>
</html>